p {
  text-align: center;
}

.manage-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;          
  position: relative;
  margin-top: 20px;

}

.parent {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.parent p {
  text-align: center;
}
.intro {
  margin: auto;
  width: 50%;
}

.wrapper {
  position: fixed;
  inset: 0;              /* top:0 right:0 bottom:0 left:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.35); /* optional */
  z-index: 9999;
}

.popUp {
  display: flex;
  flex-direction: column;
}

h2 {
  display: block;
}

button:hover {
  cursor: pointer;
}

.closeButton {
  width: 50px;
}