p {
  text-align: center;
}

.manage-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;          
  position: relative;
  z-index: 9999;
}

.parent {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  text-align: center;

}
.popUp {
  display: flex;
  flex-direction: column;
}

h2 {
  display: block;
}
.closeButton:hover {
  cursor: pointer;
}